form.form-group.has-feedback(name="the_form")

  div(ng-class="{"has-success":userNameUnique.valid, "has-warning":userNameUnique.invalid}")

    label(for="user_name") Username
    input.form-control(
      name="user_name"
      ng-model="user.userName"
      pmkr-validate-custom="{name:"unique", fn:checkUserNameUnique, gate:gateUserNameUnique, wait:500, props:"userNameUnique"}"
      pmkr-pristine-original=""
    )

    span.glyphicon.glyphicon-ok.form-control-feedback(ng-show="userNameUnique.valid")
    span.glyphicon.glyphicon-warning-sign.form-control-feedback(ng-show="userNameUnique.invalid")
    i.glyphicon.glyphicon-refresh.fa-spin.form-control-feedback(ng-show="userNameUnique.pending")
    p.alert.alert-success(ng-show="userNameUnique.valid") "{{userNameUnique.checkedValue}}" is availiable.
    p.alert.alert-warning(ng-show="userNameUnique.invalid") "{{userNameUnique.checkedValue}}" is not availiable.

    button.btn.btn-default(ng-disabled="the_form.$invalid || the_form.user_name.$pristine || userNameUnique.pending") Submit

p Original Value: {{originalValue}}
h3 Not Available:
p(ng-repeat="takenUserName in takenUserNames") {{takenUserName}}