doctype html

html

  head

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js")

    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")

    script
    script.
      angular.module('pmkr.componentsSamples', [
        'ui.router'
      ])

      .config([
        '$stateProvider',
        function($stateProvider) {

          $stateProvider
          .state('validateCustom', {url:'/validateCustom', controller:'ValidateCustomController', templateUrl: '/samples/userNameUnique.html'})
          ;

        }
      ])

  body

    nav
      ul
        li
          a(ui-sref="validateCustom") Validate Custom