doctype html

html(ng-app="pmkr.componentsDemo")

  head

    script(src="http://localhost:35729/livereload.js")

    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js")

    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")

    script(src="/components.js")

    script(src="/index.js")
    script(src="/templates.js")

  body

    div.container

      h1 PMKR ANGULAR COMPONENTS

      nav.navbar.navbar-inverse
        ul.nav.navbar-nav
          li
            a(ui-sref="validateCustom") Validate Custom
          li
            a(ui-sref="pristineOriginal") Pristine Original

      div(ui-view="")